@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }
  
  html {
    background-color: #36373c;
  }

  button {
    border-color: white;
  }

  a {
    color: #28ddf4;
  }
  .noticeBanner {
    background-color: #000000;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
  
  button {
    border-color: black;
  }

  .noticeBanner {
    background-color: lightgrey;
  }
}